*{
    padding: 0;
    margin: 0;
}
#game{
    width: 1000px;
    height: 500px;
    border: 1px solid black;
}

#character{
    width: 50px;
    height: 100px;
    background-color: greenyellow;
    position: relative;
    top: 400px;
}   

.animate{
    animation: move 500ms infinite;
}

@keyframes move{
    0%{right:150px;}
    70%{right: 100px;}
    100%{right: 150px;}
 }

#enemy1{
    background-color: orangered;    
    width: 30px;
    height: 25px;
    position: relative;
    top: -100px;
    animation: move 2.4s infinite linear;
}

#enemy2{
    background-color: hotpink;    
    width: 30px;
    height: 25px;
    position: relative;
    top: -125px;
    left: 100px;
    animation: move .8s infinite linear;
}


#enemy3{
    background-color: blueviolet;    
    width: 30px;
    height: 25px;
    position: relative;
    top: -150px;
    left: 200px;
    animation: move 2s infinite linear;
}


#enemy4{
    background-color: greenyellow;    
    width: 30px;
    height: 25px;
    position: relative;
    top: -175px;
    left: 300px;
    animation: move 1s infinite linear;
}


#enemy5{
    background-color: rgb(42, 25, 203);    
    width: 30px;
    height: 25px;
    position: relative;
    top: -200px;
    left: 400px;
    animation: move 1s infinite linear;
}

@keyframes move{
    0%{top: 0px;}
    100%{top: 340px;}
}